body {
  background-color: rgb(153, 255, 153);
}

header {
  background-color: rgb(153, 255, 153);
  border: 20px solid rgb(153, 255, 153);
}
header .box:hover {
  cursor: pointer;
}
header .menu {
  display: flex;
  direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
h1 {
  text-align: center;
  color: black;
}
article .H2{
  font-size: 18px;
  font-weight: bold;
}
article div{
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;

  text-align: center;
}
.co-art{
  text-align: center;
}
h2{
  text-align: center;
}
ul {
  position: relative;
  left: 47%;
}
.mo-art table{
  border: 1px solid black;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
td {
  border: 1px solid black;
}
th{
  border: 1px solid black;
}
img{
  display: block;
  margin: auto;
  width: 150px;
  height: 200px;
}
.ab-art p{
  text-align: center;
  width: 500px;
  margin: auto;
}
footer{
  background-color: #74992e;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.fbox {
  color: white;
  font-size: 13px;
  text-align: center;
}
